/* App wrapper for Flexbox layout
   this is to avoid overlapping of footer and result table 
*/
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app wrapper covers the entire height of the viewport */
}

/* Content grows to fill available space */
.content {
  flex: 1;
}

/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}

/* Container */
.input-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-container {
  width: 48%; /* Adjust the width to your liking */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
  margin-bottom: 10px;
}

.init-text {
  color: #063ea0; /* Light teal for subtitle */
  text-align: center;
  font-size: 1.2em; /* Slightly larger than normal text */
  margin-bottom: 30px; /* Space below */
}

.result-label {
  width: 150px; /* Adjust this width as needed */
  text-align: left; /* Align text to the left if desired */
}

/* Input labels */
label {
  display: inline-block;
  width: 180px; /* Adjust as needed */
  font-weight: bold;
}

/* Input fields */
input[type="number"] {
  padding: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Buttons */
button {
  padding: 10px 15px;
  background-color: #063ea0;
  color: rgb(242, 247, 246);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
